* {
    font-family: 'Raleway', sans-serif;
    color: #333;
}

.current{
    color: #fff;
}

::selection{
    background-color: #f9d7ed;
}

.numbers{
    font-family: 'Arial', sans-serif;
}

.ontop{
    background-color: rgba(255, 255, 255, .5);
    border-radius: 50%;
    width: 40px;
    height: 40px;
    position: fixed;
    z-index: 5;
    line-height: 35px;
    text-align: center;
    font-size: 30px;
    bottom: 30px;
    right: 30px;
    font-weight: lighter;
    transition: all .6s ease;
}

.ontop:hover,
.ontop:focus,
.ontop:active{
    transform: scale(1.2);
    background-color: rgba(255, 255, 255, .7);
}

.ontop a:hover,
.ontop a:focus,
.ontop a:active{
    transform: scale(1.2);
}

@media(max-width:1023px){
    .ontop{
        bottom: 70px;
    }
}


a{
    color: #000;
    transition: all 0.6 ease;
}

a:visited, a:active, a:link{
    color: #000;
    
}

a:hover,
a:active,
a:focus{
    transform: scale(1.1);
}

.container{
    max-width: 86%;
    margin: 0 auto;
    padding: 0 10px;
}

header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 3;
    background-color: #91d7f3;
}

header:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #ADE1F6;
    z-index: 3;
}

.header__body{
    position: relative;
    display: flex;
    justify-content: space-between;
    height: 80px;
    align-items: center;
}

.header__logo{
    position: relative;
    z-index: 3;
}


.header__menu_list {
    display: flex;
    position: relative;
    z-index: 3;
}

.header__menu_item {
    list-style: none;
    margin: 0 0 0 20px;
    font-variant: small-caps;
    font-size: 1.2em;
    transition: all .6s ease;
}

.header__menu_item:hover,
.header__menu_item a:hover{
    transform: scale(1.05);
    color: #fff;
}

.header__menu_item:last-child{
    display: none;
}

header__link{
    font-variant: small-caps;
    font-size: 18px;
    text-decoration: none;
}

.register{
    display: block;
    padding: 10px;
    background-color: #fff;
    border: 2px solid #ADE1F6;
    outline: 2px solid #fff;
    border-radius: 10px;
    width: 150px;
    font-variant: small-caps;
    font-size: 1.2em;
    z-index: 3;
    transition: all .6s ease;
}

.register:hover,
.register:focus{
    transform: scale(1.05);
}

.header__burger {
    display: none;
}

@media (max-width: 1023px){
    
    .header__logo h3{
        font-size: 1em;
    }
    
    body.lock{
        overflow: hidden;
    }
    
    .header__body{
        height: 60px;
    }
    
    .register{
        display: none;
    }
    
    .header__burger {
        display: block;
        position: relative;
        width: 30px;
        height: 20px;
        z-index: 3;
    }
    .header__burger span{
        position: absolute;
        background-color: #000;
        position: absolute;
        left: 0;
        width: 100%;
        height: 2PX;
        top: 9px;
        transition: all 0.6s ease;
    }
    .header__burger:before,
    .header__burger:after{
        content: '';
        background-color: #000;
        position: absolute;
        width: 100%;
        height: 2px;
        transition: all 0.6s ease;
    }
    .header__burger:before{
        top: 0;
    }
    .header__burger:after{
        bottom: 0;
        height: 1px;
    }
    
    .header__burger.active span{
        transform: scale(0);
    }
    
    .header__burger.active:before{
        transform: rotate(45deg);
        top: 9px;
    }
    .header__burger.active:after{
        transform: rotate(-45deg);
        bottom: 9px;
    }
    
    .header__menu{
        position: fixed;
        top: -100%;
        left: 0;
        width: 100%;
        height: 100%;
        overflow-y: scroll;
        background-color: rgba(0, 0, 0, .8);
        padding: 70px 10px 20px 10px;
        text-align: center;
        transition: all 0.5s ease;
        text-shadow: 1px 1px 1px #000;
    }
    
    .header__menu.active{
        top: 0;
    }
    
    .header__menu_list{
        display: block;
        margin-left: -30px;
    }
    .header__menu_item{
        margin: 20px 0px 50px 0px;
        
    }
    
    
    .header__menu_item a:hover,
    .header__menu_item a:active{
        color: #1ebee6;
    }

    .header__menu_item:last-child{
        display: inline-block;
        border: 2px solid #fff;
        border-radius: 10px;
        padding: 10px 20px;
    }
    .header__menu_item:last-child a:hover,
    .header__menu_item:last-child a:active,
    .header__menu_item:last-child a:focus{
        transform: scale(1.1);
    }
    
    
    .header__link{
        font-size: 1.3em;
    }
    .header__menu_item a{
    color: #fff;
}
    .header__menu_item a:visited,
    .header__menu_item a:active{
    color: #fff;
}
    
}



.mainscreen {
    position: relative;
    width: 100%;
    height: 100vh;
    background: url(../img/main_screen_bgc.jpg) no-repeat;
    background-size:cover;
}

.mainscreen h1{
    display: block;
    position: relative;
    padding: 55vh 25vw 5vh;
    font-size: 3em;
}

.mainscreen h2{
    display: block;
    position: relative;
    padding-left: 36.2vw;
    font-size: 2em;
}



@media (max-width: 767px){
    .mainscreen h1{
        font-size: 2em;
        padding: 40vh 10vw 10vh;
        
    }
    .mainscreen h2{
        font-size: 1.5em;
        
    }
}



.content{
    padding-bottom: 100px;
}


.content_description{
    margin: 0 auto 100px auto;
    text-align: center;
    font-variant: small-caps;
    line-height: .9em;
    padding-top: 50px;
}

.content_description h2{
    font-size: 3em;
    letter-spacing: .1em;
}

.content_description h3{
    font-size: 1.5em;
    letter-spacing: .1em;
    position: relative
}

.content_description h3:after{
    content: '';
    position: absolute;
    width: 150px;
    height: 1px;
    display: block;
    left: 50%;
    margin: 30px 0 30px -75px;
    background-color: #000;
    
}

.about{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.about>div{
    flex: 1;
}

.about h3{
    text-align: center;
    margin-bottom: 30px;
    font-variant: small-caps;
    font-size: 1.5em;
    letter-spacing: .09em;
}

.colored{
    color: #1ebee6;
}

.about img{
    display: block;
    width: 300px;
    border-radius: 50%;
    margin: 0 auto;
}



.about ul{
    text-align: center;
    list-style: none;
    margin-left: -30px;
}


.about li a, .about li i{
    color: #30b6c5;
}

@media (max-width: 767px){
    .about{
        flex-direction: column;
    }
    
    .about img{
        margin-bottom: 30px;
    }
    

}


.blue{
    background-color: #dff3fb;
}

.about_work ul{
    margin-bottom: 0;
}


.about_work li{
    position: relative;
    margin-top: 20px;
}

.about_work ul::last-child{
    padding: 30px 0;
}

.about_work i{
    position: absolute;
    left: -30px;
    color:#f4b3dc;
    font-size: 1.5em;
}

.grey{
    background-color: #eee;
}

.price{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.price_item{
    flex: 1;
    display: flex;
    flex-direction: column;
    border: 1px solid #000;
    padding: 20px;
    min-height: 80vh;
    margin: 0 20px;
    justify-content: space-between;
    text-align: center;
    background-color: #fff;
    box-shadow: 1px 2px 5px rgba(0, 0, 0, .7);
    transition: all 0.6s ease;
}

.price_item:hover{
    transform: scale(1.05);
}

.price_item li{
    margin-left: -30px;
    padding: 10px 0;
}

.price_item h3{
    font-weight: bold;
}

.price_item h4{
    color: #1ebee6;
}

.price_item a{
    background-color: #ADE1F6;
    padding: 10px 20px;
    transition: all 0.6s ease;
    display: block;
    width: 60%;
    margin: 0 auto;
    border-radius: 10px;
}

.price_item a:hover,
.price_item a:focus
.price_item a:active{
    color: #000;
    border: none;
    outline: none;
    background-color: #f7c9e7;
}

@media(max-width: 1023px){
    .content{
        padding-bottom: 50px;
    }
    
    .price{
        flex-direction: column;
    }
    
    .price_item{
        margin-bottom: 30px; 
    }
    
}

.dark{
    background-color: #333;
}

.dark h2, .dark h3, .dark button{
    color: #fff;
}
.dark .content_description h3:after{
    background-color: #fff;
}

form{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 50px;
}



.forms input{
    background-color: #fff;
    padding: 10px 20px;
    border: 2px solid #333;
    outline: 1px solid #fff;
}

.forms button{
    background-color: #91d7f3;
    padding: 10px 30px;
    color: #000;
    border-radius: 10px;
    border: 2px solid #333;
    outline: 2px solid #91d7f3;
    transition: all 0.6s ease;
}

.forms button:hover,
.forms button:focus{
    background-color: #F4B3DC;
    outline: 2px solid #F4B3DC;
    transform: scale(1.05);
}

@media(max-width: 1023px){
    form{
        flex-direction: column;
    }
    .forms input{
        margin-bottom: 30px;
    }
}

.blog_posts{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px;
}

.single_post{
    display: block;
    border: 1px solid #000;
    width: 100%;
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    padding: 30px 0;
    text-shadow: 1px 1px 1px #fff;
    transition: all 0.6s ease;
    background-position: center;
}

.single_post:hover,
.single_post:focus{
    transform: scale(1.05);
}

.single_post:nth-child(1){
    background: url(../img/blog2.jpeg) no-repeat;
    background-size:cover;
}

.blog_posts .single_post:nth-child(2){
    background: url(../img/blog1.jpg) no-repeat;
    background-size:cover;
}

.single_post:nth-child(3){
    background: url(../img/blog3.jpg) no-repeat;
    background-size:cover;
}

.single_post p {
    padding: 0 10px;
}

.blog_posts>.single_post.white_text h3,
.blog_posts>.single_post.white_text p{
    color: #eee;
    text-shadow: 1px 1px 1px #000;
}

.blog_posts>.single_post a{
    display: block;
    border: 1px solid #fff;
    padding: 10px 20px;
    background-color: rgba(0, 0, 0, .3);
    width: 150px;
    margin: 0 auto;
    transition: all 0.6s ease;
    color: #eee;
    text-shadow: none;
}

.blog_posts>.single_post a:hover,
.blog_posts>.single_post a:visited,
.blog_posts>.single_post a:active,
.blog_posts>.single_post a:focus{
    color: #eee;
    background-color: rgba(0, 0, 0, .5);
}

@media(max-width: 1023px){
    .blog_posts{
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
    .single_post{
        width: 80vw;
        height: 60vw;
        margin-bottom: 30px;
    }
}

@media(max-width: 767px){
    .blog_posts{
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
    .single_post{
        width: 80vw;
        height: 100vw;
        margin-bottom: 30px;
    }
}


.carousel{
    width: 100%;
    position: relative;
    
}

.carousel_button{
    position: absolute;
    z-index: 2;
    font-size: 5em;
    background: none;
    border: none;
    top: 30%;
    color: rgba(0, 0, 0, .5);
    cursor: pointer;
    border-radius: .25em;
    padding: 0 .5em;
    transition: all .6s ease;
}

.carousel_button:hover,
.carousel_button:focus{
    color: rgba(0, 0, 0, .8);
    transform: scale(1.05);
}

.carousel_button.next{
    right: 0;
}

.carousel_button.prev{
    left: 0;
}

.slides{
    position: relative;
   display: block;
    width: 80%;
    height: 40vh; 
    margin: 0 auto;
    justify-content: space-between;
}

.slide{
    display: flex;
    position: absolute;
    opacity: 0;
    width: 100%;
    height: inherit;
    margin: 0 auto;
    margin-left: -30px;
    flex-direction: row;
    padding: 45px 20px;
    overflow: hidden;
    transition: all .6s ease;
}

.slide[data-active]{
    opacity: 1;
    z-index: 1;
}


.slide img{
    width: 200px;
    height: 200px;
    display: block;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
    margin-left: 75px;
}

.rew_content{
    padding: 0 50px;
    width: 70%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    }

.rew_content h4{
    font-size: 2em;
}

.rew_content p{
    font-size: 1.3em;
}

@media(max-width: 1023px){
    
    
    .carousel_button{
        font-size: 3em;
    }
    
    .slides{
        width: 100%;
        height: 30vh;
    }
    
    .slide{
        flex-direction: column;
        text-align: center;
        width: 100%;
    }
    
    .rew_content{
        padding: 0;
    }

    
    .rew_content h4{
        font-size: 1.5em;
    }
    
    .rew_content p{
        font-size: 1em;
        padding: 10px 0;

    }
    
    .slide img{
        margin: 0 auto;
        margin-bottom: 30px;
        margin-top: -45px;
        width: 150px;
        height: 150px;
    }
    
    
}

@media(max-width: 767px){
    .slides{
        width: 100%;
        height: 60vh;
    }
}


.social{
    text-align: center;
    font-size: 2em;
    display: flex;
    flex-direction: row;
    justify-content: center;
    
}

.social a{
    padding: 0 20px;
    color: #91d7f3;
    transition: all .6s ease;
}

.social i{
    color: #91d7f3;
    transition: all .6s ease;
}

.social i:hover,
.social i:focus,
.social a:hover,
.social a:focus,
.social a:active{
    color: #F4B3DC;
    transform: scale(1.05);
}


.grey .forms form{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 50%;
}

.grey .forms input{
    margin: 20px 0;
    border: solid 1px #333;

}

.grey .forms button{
    width: 30%;
    margin: 20px auto;
    background-color: #ADE1F6;
    border: 2px solid #eee;
    outline: 2px solid #ADE1F6;
}

.grey .forms button:hover,
.grey .forms button:focus,
.grey .forms button:active{
    background-color: #f7c9e7;
    outline: 2px solid #f7c9e7;
}

.grey .forms p{
    font-variant: small-caps;
    margin: 20px auto;
    
}


@media(max-width: 1023px){
    .grey .forms form{
        flex-direction: column;
        width: 100%;
    }
    .grey .forms input{
        margin-bottom: 30px;
    }
}

@media(max-width: 767px){
    .grey .forms button{
        width: 50%;
    }
    .grey .forms p{
        text-align: center;
    }
}


footer{
    background: rgb(189,176,166);
    background: linear-gradient(90deg, rgba(189,176,166,1) 0%, rgba(178,145,145,1) 100%);
    padding-bottom: 20px;
}

.footer__menu_list{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-variant: small-caps;
    padding-top: 30px;
}

.footer__menu_item{
    transition: all .6s ease;
}

.footer__menu_item:hover,
.footer__menu_item:focus,
.footer__menu_item a:hover,
.footer__menu_item a:focus{
    color: #fff;
    transform: scale(1.05);
}

.footer_content{
    text-align: center; 
    line-height: .5em;
    margin-top: 30px;
    font-variant: small-caps;

}

.footer_content p{
    color: #888;
}

.footer_content .copyright{
    text-align: right;
    color: #666;
    margin-top: -1.5em;
    
}

.footer_content .copyright a{
    transition: all .6s ease;
    color: #333;
}

.footer_content .copyright a:hover,
.footer_content .copyright a:focus{
    transform: scale(1.05);
    color: #fff;
}

@media(max-width: 1023px){
    .footer__menu,
    .footer__menu_list{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
    
    .footer__menu_list{
        margin-left: -30px;
    }
    
    .footer_content{
        text-align: left;
        font-size: .7em;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    
    .legal{
        align-self: flex-start;
    }
    
    .with_love{
        align-self: flex-end;
    }

    
}





/* page about */





.page_content_description{
    margin: 80px auto 100px auto;
    text-align: center;
    font-variant: small-caps;
    line-height: .9em;
    padding-top: 30px;
}

.page_content_description h1{
    font-size: 3em;
    letter-spacing: .1em;
}



.page_content_description h3{
    font-size: 1.5em;
    letter-spacing: .1em;
    position: relative
}

.page_content_description h3:after{
    content: '';
    position: absolute;
    width: 150px;
    height: 1px;
    display: block;
    left: 50%;
    margin: 30px 0 30px -75px;
    background-color: #000;
    
}

.page_content_article{
   width: 100%; 
    display: flex;
    flex-direction: row;
}

.page_content_article.even{
    flex-direction: row-reverse;
}

.page_content_article img{
    width: 50%;
    height: 89vh;
    object-fit: cover;
    
}

.page_content_article_text{
    width: 50%;
    background-color: #fff;
    text-align: center;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.page_content_article_text h3{
    font-variant: small-caps;
    margin-bottom: 72px;
    font-size: 2em;
    position: relative;
}

.page_content_article_text h3:after{
    content: '';
    position: absolute;
    width: 150px;
    height: 1px;
    display: block;
    left: 50%;
    margin: 20px 0 30px -75px;
    background-color: #000;
}


.documents img{
    height: 85vh;
    display: block;
    margin: 0 auto;
}


@media(max-width:1023px){
    .page_content_description{
       margin: 55px auto 100px auto; 
    }
    
    .documents img{
    height: 60vh;
    margin-bottom: 30px;
}
}



@media(max-width: 767px){
    .page_content_description{
       margin: 50px auto 100px auto; 
    }
    
    .page_content_article,
    .page_content_article.even{
    flex-direction: column;
    }
    
    .page_content_article img,
    .page_content_article_text{
        width: 100%;
    }
}



.page_price{
    padding-top: 100px;
}


.about_work img {
    margin-right: 30px;
    width: 38%;
    height: 88vh;
}


.page_price_service_list{
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

@media(max-width:1023px){
    .about_work img {
    object-position: left center;
    }
    
    .page_price_service_list{
    padding: 0;
    margin-top: -20px;
    }
}

@media(max-width: 767px){
    .about_work img{
    object-position: left center;
    width: 100%;
        margin-bottom: 30px;
    }
}

.blog_navigation{
    margin-top: 60px;
    text-align: center;
}



.blog_navigation a{
    display: inline-block;
    margin: 0 5px;
    border: 1px solid #fff;
    background-color: rgba(0, 0, 0, .3);
    width: 30px;
    height: 30px;
    transition: all 0.6s ease;
    color: #eee;
    border-radius: 50%;
}

.blog_navigation a:hover,
.blog_navigation a:visited,
.blog_navigation a:active,
.blog_navigation a:focus{
    color: #eee;
    background-color: rgba(0, 0, 0, .5);}
    


#four{
    background: url(../img/blog5.jpg) no-repeat;
    background-size:cover;
}

#five{
   background: url(../img/blog4.jpg) no-repeat;
    background-size:cover; 
}

#six{
    background: url(../img/blog7.jpg) no-repeat;
    background-size:cover;
}

#seven{
    background: url(../img/blog6.jpg) no-repeat;
    background-size:cover;
    background-position: center center;
}

#eight{
    background: url(../img/blog8.jpg) no-repeat;
    background-size:cover;
}

#nine{
    background: url(../img/blog10.jpg) no-repeat;
    background-size:cover;
    background-position: 25% center;
}


@media(max-width: 1023px){
    .blog_posts{
        display: flex;
        flex-direction: column;
    }
}



@media(max-width: 767px){
    .blog_posts
}


.question{
    font-weight: 1000;
    line-height: 2em;
}

.answer{
    margin-bottom: 30px;
}

.reviews{
    margin-left: -30px;
    display: flex;
    flex-direction: column;
}

.single_rewiew{
    display: flex;
    flex-direction: row;
    margin-bottom: 50px;

}

.single_rewiew img{
    display: block;
    width: 200px;
    height: 200px;
    display: block;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
    margin-left: 75px;
}

@media(max-width:1023px){
    .rewiews{
        margin-left: -30px;
    }
    
    .single_rewiew{
        flex-direction: column;
        text-align: center;
    }
    
     .single_rewiew img{
        margin: 0 auto 30px;
        width: 150px;
        height: 150px;
    }
}


.more{
    padding: 10px 30px;
    border-radius: 10px;
    margin: 20px auto;
    background-color: #ADE1F6;
    border: 2px solid #eee;
    outline: 2px solid #ADE1F6;
    transition: all 0.6s ease;
    display: block;
    margin: 70px auto 0;
}

.more:hover,
.more:focus,
.more:active{
    background-color: #f7c9e7;
    outline: 2px solid #f7c9e7;
    transform: scale(1.05);
}


.empty{
    height: 30vh;
    text-align: center;
}


.contacts_content{
    display: flex;
    flex-direction: row;
}

.contacts_content>div{
    flex: 1;
    
}

.contacts_content ul{
    margin-left: -30px;
    font-variant: small-caps;
    font-size: 1.3em;
}

.contacts_content ul li{
    margin-bottom: 20px;
}

.contacts_content a{
    color: #19b9e1;
    font-variant: none;
    transition: all 0.3s ease;
}



.contacts_content a:hover,
.contacts_content a:focus,
.contacts_content a:active{
    color: #f188cb;
    transform: scale(1.05)
}


.contacts_content .forms form{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 90%;
}

@media(max-width:1023px){
    .contacts_content>.forms>form>button{
        width: 100%;
    }
    .contacts_content ul{
        padding-top: 20px;
    }
}

@media(max-width:767px){
    .contacts_content{
        flex-direction: column;
        text-align: center;
    }
    
    .contacts_content ul{
        margin-bottom: 70px;
    }
}




.special{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 6;
    overflow: hidden;
    opacity: 0;
    visibility: hidden;
    transition: all .6s ease;
}

.special.open{
    opacity: 1;
    visibility: visible;
    transform: opacity(1);
}


.modal_content{
   display: flex;
    align-items: center;
    justify-content: center;
    overflow-y: auto;
    max-width: 50%;
    margin: 100px auto;
    position: relative;
    z-index: 8;
}




.modal_content form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #eee;
    padding: 50px 50px 15px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.7);
    border-radius: 10px;
    z-index: 9;
}

.modal_window{
    width: 100%;
    height: 100vh;
    z-index: 7;
    position: absolute;
    top: 0;
    left: 0;
}

.modal_close{
    position: absolute;
    top: 15px;
    right: 20px;
    transition: all .4s ease;
}

.modal_close:active,
.modal_close:hover,
.modal_close:focus{
    transform: scale(1.3);
}


.modal_content form input,
.modal_content form button{
    margin: 15px 0;
    border: 1px solid #333;
}

.modal_content form button{
    border: 1px solid #fff;
    width: 30%;
    margin: 15px auto 40px;
}

.modal_content p{
    color: #777;
    font-variant: small-caps;
    text-align: center;
    padding: 0;
}

.loader{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: #fff;
    z-index: 6;
    
}

/*
.loader_inr{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 150px;
    height: 150px;
    margin-left: -75px;
    margin-top: -75px; 
    background-color: #fff;
    background-image: url(../img/gif.gif);
    background-size: cover;
    background-repeat: no-repeat;
}
*/


.animation_1 {
    animation: fadeInLeft;
    animation-duration: 4s;
}

.animation_2 {
    animation-duration: 2s;
}

.animation_3 {
    animation-duration: 4s;
}