{% extends 'main/layout.html' %}


{% block title %}{{ title }}{% endblock %}


{% block content %}
    
    
    
    
    
    
    <section class="content grey">
        <div class="container">
            <div class="page_content_description">
                <h1>блог</h1>
                <h3>выбирайте самую интересную для себя тему</h3> 
            </div>
            
            <div class="blog_posts">
                    <div class="single_post" id="1">
                        <h3>Как полюбить себя?</h3>
                        <p>Полюбить себя и развить позитивное отношение к себе – это важные шаги на пути к психологическому благополучию. Методы повышения самоценности могут помочь в этом процессе. Вот несколько способов, которые могут помочь вам полюбить себя:</p> <a href="#">Читать далее</a> </div>
                    <div class="single_post white_text" id="2">
                        <h3>Как выйти из токсичных отношений?</h3>
                        <p> Токсичные отношения могут серьезно навредить вашему психическому и эмоциональному благополучию. Вот несколько советов психолога о том, как выйти из таких отношений</p> <a href="#">Читать далее</a> </div>
                    <div class="single_post" id="3">
                        <h3>Как какать?</h3>
                        <p>Когда вы хотите узнать о способе выполнения действия или о процессе, вы можете использовать вопрос "как". Чтобы задать такой вопрос, обычно используется следующая структура</p> <a href="#">Читать далее</a> </div>
                        <div class="single_post" id="four">
                        <h3>Как полюбить себя?</h3>
                        <p>Полюбить себя и развить позитивное отношение к себе – это важные шаги на пути к психологическому благополучию. Методы повышения самоценности могут помочь в этом процессе. Вот несколько способов, которые могут помочь вам полюбить себя:</p> <a href="#">Читать далее</a> </div>
                    <div class="single_post white_text" id="five">
                        <h3>Как выйти из токсичных отношений?</h3>
                        <p> Токсичные отношения могут серьезно навредить вашему психическому и эмоциональному благополучию. Вот несколько советов психолога о том, как выйти из таких отношений</p> <a href="#">Читать далее</a> </div>
                    <div class="single_post" id="six">
                        <h3>Как какать?</h3>
                        <p>Когда вы хотите узнать о способе выполнения действия или о процессе, вы можете использовать вопрос "как". Чтобы задать такой вопрос, обычно используется следующая структура</p> <a href="#">Читать далее</a> </div>
                        <div class="single_post" id="seven">
                        <h3>Как полюбить себя?</h3>
                        <p>Полюбить себя и развить позитивное отношение к себе – это важные шаги на пути к психологическому благополучию. Методы повышения самоценности могут помочь в этом процессе. Вот несколько способов, которые могут помочь вам полюбить себя:</p> <a href="#">Читать далее</a> </div>
                    <div class="single_post white_text" id="eight">
                        <h3>Как выйти из токсичных отношений?</h3>
                        <p> Токсичные отношения могут серьезно навредить вашему психическому и эмоциональному благополучию. Вот несколько советов психолога о том, как выйти из таких отношений</p> <a href="#">Читать далее</a> </div>
                    <div class="single_post" id="nine">
                        <h3>Как какать?</h3>
                        <p>Когда вы хотите узнать о способе выполнения действия или о процессе, вы можете использовать вопрос "как". Чтобы задать такой вопрос, обычно используется следующая структура</p> <a href="#">Читать далее</a> </div>
                        </div>
                </div>
                
                <div class="blog_navigation">
                    <a href="#">1</a>
                    <a href="#">2</a>
                    <a href="#">3</a>
                </div>
                
                
            </div>
            </section>

   
   
       <section class="content dark">
            <div class="container">
                <div class="content_description">
                    <h2>контакты</h2>
                    <h3>мои социальные сети</h3> </div>
                <div class="social"> <a href="#"><i class="fa fa-solid fa-paper-plane"></i></a> <a href="#"><i class="fa fa-brands fa-instagram"></i></a> <a href="#"><i class="fa fa-brands fa-vk"></i></a> <a href="#"><i class="fa fa-solid fa-envelope"></i></a> </div>
            </div>
        </section>
        
        
        <section class="content grey">
            <div class="container">
                <div class="content_description">
                    <h2>остались вопросы</h2>
                    <h3>задайте их здесь</h3> </div>
                <div class="forms">
                    <form method="post">
                        <input type="text" name="name" placeholder="Ваше имя" required>
                        <input type="tel" name="phone" pattern="(\s*)?(\+)?([- _():=+]?\d[- _():=+]?){10,14}(\s*)?" placeholder="Ваш номер телефона" required>
                        <input type="email" name="email" placeholder="Ваш e-mail" required>
                        <input type="text" name="question" placeholder="Ваш вопрос" required>
                        <button type="submit">Oтправить</button>
                        <p>нажимая «отправить», вы соглашаетесь с нашей политикой конфиденциальности</p>
                    </form>
                </div>
            </div>
        </section>
   
   
   
 {% endblock %}