{% extends 'main/layout.html' %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
    
    
    
    <section class="content white">
        <div class="container">
            <div class="page_content_description">
                <h1>FAQ</h1>
                <h3>часто задаваемые вопросы</h3> 
            </div>
            
            <div class="page_faq_content">
                <ul>
                    <li class="question">Как преодолеть стресс и тревогу?</li>
                    <li class="answer">Существует множество способов борьбы со стрессом и тревогой, таких как медитация, глубокое дыхание, физическая активность, общение с близкими и профессиональная консультация.</li>
                    <li class="question">Как научиться управлять своими эмоциями?</li>
                    <li class="answer">Управление эмоциями - это процесс, который требует понимания и осознанности. Важно научиться распознавать свои эмоции, а затем находить здоровые способы их выражения и регулирования.</li>
                    <li class="question">Как помочь ребенку с проблемами адаптации в школе?</li>
                    <li class="answer">Важно общаться с ребенком, понимать его чувства и переживания, а также искать подходящие стратегии поддержки и помощи в решении проблемы.</li>
                    <li class="question">Что делать, если у меня проблемы с самооценкой?</li>
                    <li class="answer">Работа над самооценкой - это длительный процесс, который включает в себя осознание своих качеств, работу над негативными убеждениями и поиск поддержки у профессионала.</li>
                    <li class="question">Как научиться устанавливать границы в отношениях?</li>
                    <li class="answer">становление границ в отношениях начинается с осознания своих потребностей и прав, а затем требует ясной коммуникации и уверенности в своих решениях.</li>
                    <li class="question">Как преодолеть потерю близкого человека?</li>
                    <li class="answer">Потеря близкого человека - это сложный процесс горя и траура, который требует времени, поддержки и возможно профессиональной помощи.</li>
                    <li class="question">Как научиться лучше управлять временем?</li>
                    <li class="answer">Управление временем начинается с понимания своих приоритетов и целей, а затем требует разработки системы планирования и организации.</li>
                    <li class="question">Что делать, если у меня проблемы с сном?</li>
                    <li class="answer">Проблемы со сном могут быть вызваны различными факторами, поэтому важно обратиться к специалисту для выявления причин и разработки индивидуального подхода к решению проблемы.</li>
                    <li class="question">Как научиться справляться с конфликтами?</li>
                    <li class="answer">Умение разрешать конфликты начинается с понимания своих эмоций и потребностей, а затем требует активного слушания и поиска компромиссов.</li>
                    <li class="question">Что делать, если у меня проблемы с мотивацией?</li>
                    <li class="answer">Работа над мотивацией - это процесс, который включает в себя постановку целей, поиск внутренних мотиваторов и разработку плана действий для их достижения.</li>
                </ul>
            </div>
            
            </div>
        </section>
                
            
            
  
        <section class="content grey">
            <div class="container">
                <div class="content_description">
                    <h2>остались вопросы</h2>
                    <h3>задайте их здесь</h3> </div>
                <div class="forms">
                    <form method="post">
                        <input type="text" name="name" placeholder="Ваше имя" required>
                        <input type="tel" name="phone" pattern="(\s*)?(\+)?([- _():=+]?\d[- _():=+]?){10,14}(\s*)?" placeholder="Ваш номер телефона" required>
                        <input type="email" name="email" placeholder="Ваш e-mail" required>
                        <input type="text" name="question" placeholder="Ваш вопрос" required>
                        <button type="submit">Oтправить</button>
                        <p>нажимая «отправить», вы соглашаетесь с нашей политикой конфиденциальности</p>
                    </form>
                </div>
            </div>
        </section>
    
    
 {% endblock %}