{% extends 'main/layout.html' %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
           <section class="content mainscreen" id="top">
            <h1>Психолог Татьяна&nbsp;Соколова</h1>
            <h2>Любовь, забота, безопасность</h2> </section>
        <section class="content white">
            <div class="container">
                <div class="content_description">
                    <h2>обо мне</h2>
                    <h3>интересные факты</h3> </div>
                <div class="about">





                    <div class="anim">
                        <h3>обо мне</h3>
                        <p class="colored " >Здравствуйте! Меня зовут Татьяна Соколова, и я рада представиться вам. Я профессиональный психолог, специализирующийся на саморазвитии и личностном росте. </p>
                        <p>Моя работа основана на том, чтобы помочь людям понять себя лучше, преодолеть свои внутренние барьеры и достичь психологического благополучия. Я верю, что каждый человек имеет потенциал для роста и развития, и моя задача - помочь им раскрыть этот потенциал. </p>
                        <p>В моей практике я использую различные подходы к работе с клиентами, включая когнитивно-поведенческую терапию, гештальт-терапию, позитивную психологию и многие другие. Я стремлюсь создать доверительную и поддерживающую атмосферу, где клиенты могут чувствовать себя комфортно и открыто обсуждать свои проблемы. </p>
                        <p>Моя цель - помочь людям найти внутреннюю гармонию, улучшить качество своей жизни и достичь своих личных и профессиональных целей. Я убеждена, что каждый человек заслуживает счастливой и удовлетворенной жизни, и я готова помочь им в этом. </p>
                        <p>Если вы ищете поддержку в своем личностном росте и развитии, то я готова быть рядом с вами на этом пути. Давайте вместе создадим основу для вашего благополучия и счастья. Жду вас у себя в кабинете! </p>
                    </div>
                    <div>
                        <h3>фото</h3> <img class="animation_2" src="../../static/main/img/tani.jpg" alt="autor"> </div>
                    <div class="animation_3">
                        <h3>факты</h3>
                        <ul>

                            <li>Обладаю степенью в области психологии.</li>
                            <br>
                            <li>Имею практический опыт работы в области психологии более года.</li>
                            <br>
                            <li>Мои специализации включают поведенческую психологию, семейную терапию, консультирование по вопросам стресса и тревоги, и т.д.)).</li>
                            <br>
                            <li>Моя цель - помочь клиентам достичь психологического благополучия и саморазвития.</li>
                            <br>
                            <li>Я использую различные подходы в своей работе, такие как когнитивно-поведенческая терапия, психодинамическая терапия и др.</li>
                            <br>
                            <li>Я предлагаю конфиденциальные и этичные консультации.</li>
                            <br>
                            <li>Я готова помочь вам на вашем пути к психологическому здоровью и благополучию.</li>
                            <br>
                            <li>Почта: <a href="mailto:tanina_pochta@psy.ru">tanina_pochta@psy.ru</a></li>
                            <br>
                            <li>Социальные сети: <a href="#"><i class="fa fa-solid fa-paper-plane"></i></a> <a href="#"><i class="fa fa-brands fa-instagram"></i></a> <a href="#"><i class="fa fa-brands fa-vk"></i></a> </li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- end container -->
        </section>
        <section class="content blue">
            <div class="container">
                <div class="content_description">
                    <h2>как я работаю</h2>
                    <h3>подход к работе</h3> </div>
                <div class="about_work">
                    <ul>
                        <li><i class="fa fa-solid fa-circle-check"></i>Когнитивно-поведенческая терапия - фокусируется на изменении негативных мыслей и поведений, помогая клиенту развить здоровые стратегии преодоления проблем.</li>
                        <li><i class="fa fa-solid fa-circle-check"></i>Гештальт-терапия - акцентирует внимание на осознании здесь и сейчас, а также на целостности личности клиента, помогая им развить более полное самопонимание.</li>
                        <li><i class="fa fa-solid fa-circle-check"></i>Метод самоценности - это подход, который помогает клиенту развить позитивное отношение к себе, уважение к своим чувствам и потребностям, а также уверенность в своих способностях. Целью метода является повышение самооценки и самоприятия, что способствует улучшению психического благополучия и качества жизни.</li>
                        <li><i class="fa fa-solid fa-circle-check"></i>Позитивная психология - ориентирована на развитие сил и качеств клиента, а не только на устранение недостатков, помогая им построить более счастливую и удовлетворенную жизнь.</li>
                        <li><i class="fa fa-solid fa-circle-check"></i>Решение проблем - метод, направленный на разработку конкретных стратегий и действий для решения конкретных проблем клиента.</li>
                        <li><i class="fa fa-solid fa-circle-check"></i>Межличностные отношения - фокусируется на взаимодействии между людьми и их влиянии на эмоциональное благополучие и психическое здоровье.</li>
                    </ul>
                </div>
            </div>
        </section>
        <section class="content grey">
            <div class="container">
                <div class="content_description">
                    <h2>формат работы</h2>
                    <h3>услуги и цены</h3> </div>
                <div class="price">
                    <div class="price_item">
                        <h3>Первая встреча онлайн</h3>
                        <h4>1 000 р.</h4>
                        <ul>
                            <li>Цикл встреч начинается с первой ознакомительной встречи. На ней мы выбираем время встреч и тематику работы</li>
                            <li>Время - от 60 до 90 минут</li>
                            <li>Тема - на встречах мы работаем с вашим личным запросом или с запросом в паре.</li>
                        </ul> <a href="#">Подробнее</a> </div>
                    <div class="price_item">
                        <h3>Разовая консультация онлайн</h3>
                        <h4>2 000 р.</h4>
                        <ul>
                            <li>Если вы заинтересованы в разовой консультации, мы можем поработать в этом формате.</li>
                            <li>Время - 120 минут</li>
                            <li>Тема - на ваш выбор. Я помогу взглянуть на ситуацию со стороны и увидеть варианты развития.</li>
                        </ul> <a href="#">Подробнее</a> </div>
                    <div class="price_item">
                        <h3>Пакет 5 консультаций</h3>
                        <h4>8 000 р.</h4>
                        <ul>
                            <li>Если мы нашли проблему, которую невозможно решить за одну сессию</li>
                            <li>Время - 120 минут</li>
                            <li>Тема - на ваш выбор. Я помогу взглянуть на ситуацию со стороны и увидеть варианты развития. Это дает ощущение свободы и меняет ваше состояние. </ul> <a href="#">Подробнее</a> </div>
                    <div class="price_item">
                        <h3>Пакет 10 консультаций</h3>
                        <h4>15 000 р.</h4>
                        <ul>
                            <li>Длительный курс для комплексной проработки личности</li>
                            <li>Время - 120 минут</li>
                            <li>Тема - на ваш выбор. Я помогу взглянуть на ситуацию со стороны и увидеть варианты развития. Это дает ощущение свободы и меняет ваше состояние. </ul> <a href="#">Подробнее</a> </div>
                </div>
            </div>
        </section>
        <section class="content dark">
            <div class="container">
                <div class="content_description">
                    <h2>записаться</h2>
                    <h3>запись на консультацию</h3> </div>
                <div class="forms">
                    <form method="post">
                        <input type="text" name="name" placeholder="Ваше имя" required>
                        <input type="tel" name="phone" pattern="(\s*)?(\+)?([- _():=+]?\d[- _():=+]?){10,14}(\s*)?" placeholder="Ваш номер телефона" required>
                        <input type="email" name="email" placeholder="Ваш e-mail" required>
                        <input type="text" name="question" placeholder="Ваш вопрос" required>
                        <button type="submit">Записаться</button>
                    </form>
                </div>
            </div>
        </section>
        <section class="content grey">
            <div class="container">
                <div class="content_description">
                    <h2>блог</h2>
                    <h3>мои публикации</h3> </div>
                <div class="blog_posts">
                    <div class="single_post">
                        <h3>Как полюбить себя?</h3>
                        <p>Полюбить себя и развить позитивное отношение к себе – это важные шаги на пути к психологическому благополучию. Методы повышения самоценности могут помочь в этом процессе. Вот несколько способов, которые могут помочь вам полюбить себя:</p> <a href="#">Читать далее</a> </div>
                    <div class="single_post white_text">
                        <h3>Как выйти из токсичных отношений?</h3>
                        <p> Токсичные отношения могут серьезно навредить вашему психическому и эмоциональному благополучию. Вот несколько советов психолога о том, как выйти из таких отношений</p> <a href="#">Читать далее</a> </div>
                    <div class="single_post">
                        <h3>Как какать?</h3>
                        <p>Когда вы хотите узнать о способе выполнения действия или о процессе, вы можете использовать вопрос "как". Чтобы задать такой вопрос, обычно используется следующая структура</p> <a href="#">Читать далее</a> </div>
                </div>
            </div>
        </section>
        <section class="content blue">
            <div class="container">
                <div class="content_description">
                    <h2>отзывы</h2>
                    <h3>о моей работе</h3> </div>
                <div class="carousel">
                    <button class="carousel_button next" onclick="onNext();">&#187;</button>
                    <button class="carousel_button prev" onclick="onPrev();">&#171;</button>
                    <ul class="slides">
                        <li class="slide" data-active> <img src="../../static/main/img/reveiw3.jpg" alt="">
                            <div class="rew_content">
                                <h4 class="name">Дарья Драконовна</h4>
                                <p>Таня помогла мне принять и проработать свою теневую сторону. Научившись управлять ею, моё сердце запылало огнём!</p>
                            </div>
                        </li>
                        <li class="slide"> <img src="../../static/main/img/reveiw1.jpg" alt="">
                            <div class="rew_content">
                                <h4 class="name">Всратислав Алексеев</h4>
                                <p>Спасибо Тане! Она помогла мне найти в жизни повод для улыбки.</p>
                            </div>
                        </li>
                        <li class="slide"> <img src="../../static/main/img/reveiw2.jpg" alt="">
                            <div class="rew_content">
                                <h4 class="name">Токсинья Кринжова (Такси)</h4>
                                <p>Благодаря Тане я смогла выйти из токсичных отношений. Теперь я ветер среди поля(экологичная).</p>
                            </div>
                        </li>
                        <li class="slide"> <img src="../../static/main/img/reveiw4.jpg" alt="">
                            <div class="rew_content">
                                <h4 class="name">Мужчина или бобёр</h4>
                                <p>Я лечился от навязчивых сравнений себя с животными. Теперь доволен как слон. До лечения я был злой и нервный как собака, а теперь спокоен как удав.</p>
                            </div>
                        </li>
                        <li class="slide"> <img src="../../static/main/img/reveiw5.jpg" alt="">
                            <div class="rew_content">
                                <h4 class="name">Света Котикова</h4>
                                <p>Таня вылечила психосоматическую аллергию на котов</p>
                            </div>
                        </li>
                        <li class="slide"> <img src="../../static/main/img/reveiw6.webp" alt="">
                            <div class="rew_content">
                                <h4 class="name">Олег</h4>
                                <p>Благодаря Тане научился какать. Теперь я могу экономить на стирке!</p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </section>
        <section class="content dark">
            <div class="container">
                <div class="content_description">
                    <h2>контакты</h2>
                    <h3>мои социальные сети</h3> </div>
                <div class="social"> <a href="#"><i class="fa fa-solid fa-paper-plane"></i></a> <a href="#"><i class="fa fa-brands fa-instagram"></i></a> <a href="#"><i class="fa fa-brands fa-vk"></i></a> <a href="#"><i class="fa fa-solid fa-envelope"></i></a> </div>
            </div>
        </section>

                <section class="content grey">
            <div class="container">
                <div class="content_description">
                    <h2>остались вопросы</h2>
                    <h3>задайте их здесь</h3> </div>
                <div class="forms">
                    <form method="post">
                        <input type="text" name="name" placeholder="Ваше имя" required>
                        <input type="tel" name="phone" pattern="(\s*)?(\+)?([- _():=+]?\d[- _():=+]?){10,14}(\s*)?" placeholder="Ваш номер телефона" required>
                        <input type="email" name="email" placeholder="Ваш e-mail" required>
                        <input type="text" name="question" placeholder="Ваш вопрос" required>
                        <button type="submit">Oтправить</button>
                        <p>нажимая «отправить», вы соглашаетесь с нашей политикой конфиденциальности</p>
                    </form>
                </div>
            </div>
        </section>

        {% endblock %}





