{% extends 'main/layout.html' %}

{% block title %}Главная{% endblock %}

{% block content %}
    <div class="features">
        <h1>Главная</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab architecto commodi corporis nihil nobis, odio
            perspiciatis. Aliquam aut ducimus exercitationem harum inventore, molestiae numquam officiis praesentium
            sequi, similique tenetur voluptas.</p>
        <button class="btn btn-warning">Тык</button>
    </div>
{% endblock %}