{% extends 'main/layout.html' %}


{% block title %}{{ title }}{% endblock %}


{% block content %}

    
    
    
    
    <section class="content white">
        <div class="container">
            <div class="page_content_description">
                <h1>с чем я работаю</h1>
                <h3>подробнее об услугах и ценах</h3> 
            </div>
             <div class="about_work">
                   <div class="page_content_article">
                   <img src="../../static/main/img/price_01.jpg" alt="">
                   <div class="page_price_service_list">
                    <ul>
                        <li><i class="fa fa-solid fa-circle-check"></i>Когнитивно-поведенческая терапия - фокусируется на изменении негативных мыслей и поведений, помогая клиенту развить здоровые стратегии преодоления проблем.</li>
                        <li><i class="fa fa-solid fa-circle-check"></i>Гештальт-терапия - акцентирует внимание на осознании здесь и сейчас, а также на целостности личности клиента, помогая им развить более полное самопонимание.</li>
                        <li><i class="fa fa-solid fa-circle-check"></i>Метод самоценности - это подход, который помогает клиенту развить позитивное отношение к себе, уважение к своим чувствам и потребностям, а также уверенность в своих способностях. Целью метода является повышение самооценки и самоприятия, что способствует улучшению психического благополучия и качества жизни.</li>
                        <li><i class="fa fa-solid fa-circle-check"></i>Позитивная психология - ориентирована на развитие сил и качеств клиента, а не только на устранение недостатков, помогая им построить более счастливую и удовлетворенную жизнь.</li>
                        <li><i class="fa fa-solid fa-circle-check"></i>Решение проблем - метод, направленный на разработку конкретных стратегий и действий для решения конкретных проблем клиента.</li>
                        <li><i class="fa fa-solid fa-circle-check"></i>Межличностные отношения - фокусируется на взаимодействии между людьми и их влиянии на эмоциональное благополучие и психическое здоровье.</li>
                    </ul>
                    </div>
                </div>
                </div>
            </div>
    </section>
            
            
                 
         <section class="content blue">
            <div class="container">
             <div class="price page_price">
                    <div class="price_item">
                        <h3>Первая встреча онлайн</h3>
                        <h4>1 000 р.</h4>
                        <ul>
                            <li>Цикл встреч начинается с первой ознакомительной встречи. На ней мы выбираем время встреч и тематику работы</li>
                            <li>Время - от 60 до 90 минут</li>
                            <li>Тема - на встречах мы работаем с вашим личным запросом или с запросом в паре.</li>
                        </ul> <a href="#">Подробнее</a> </div>
                    <div class="price_item">
                        <h3>Разовая консультация онлайн</h3>
                        <h4>2 000 р.</h4>
                        <ul>
                            <li>Если вы заинтересованы в разовой консультации, мы можем поработать в этом формате.</li>
                            <li>Время - 120 минут</li>
                            <li>Тема - на ваш выбор. Я помогу взглянуть на ситуацию со стороны и увидеть варианты развития.</li>
                        </ul> <a href="#">Подробнее</a> </div>
                    <div class="price_item">
                        <h3>Пакет 5 консультаций</h3>
                        <h4>8 000 р.</h4>
                        <ul>
                            <li>Если мы нашли проблему, которую невозможно решить за одну сессию</li>
                            <li>Время - 120 минут</li>
                            <li>Тема - на ваш выбор. Я помогу взглянуть на ситуацию со стороны и увидеть варианты развития. Это дает ощущение свободы и меняет ваше состояние. </ul> <a href="#">Подробнее</a> </div>
                    <div class="price_item">
                        <h3>Пакет 10 консультаций</h3>
                        <h4>15 000 р.</h4>
                        <ul>
                            <li>Длительный курс для комплексной проработки личности</li>
                            <li>Время - 120 минут</li>
                            <li>Тема - на ваш выбор. Я помогу взглянуть на ситуацию со стороны и увидеть варианты развития. Это дает ощущение свободы и меняет ваше состояние. </ul> <a href="#">Подробнее</a> </div>
                </div>
                </div>
         </section>   
            
            
  
        <section class="content grey">
            <div class="container">
                <div class="content_description">
                    <h2>остались вопросы</h2>
                    <h3>задайте их здесь</h3> </div>
                <div class="forms">
                    <form method="post">
                        <input type="text" name="name" placeholder="Ваше имя" required>
                        <input type="tel" name="phone" pattern="(\s*)?(\+)?([- _():=+]?\d[- _():=+]?){10,14}(\s*)?" placeholder="Ваш номер телефона" required>
                        <input type="email" name="email" placeholder="Ваш e-mail" required>
                        <input type="text" name="question" placeholder="Ваш вопрос" required>
                        <button type="submit">Oтправить</button>
                        <p>нажимая «отправить», вы соглашаетесь с нашей политикой конфиденциальности</p>
                    </form>
                </div>
            </div>
        </section>
    
  {% endblock %}